* {
    font-family: 'Roboto', sans-serif;
}

.header {
    padding: 0px 30px 30px;
    background-color: #26a69a;
    color: white;
    font-weight: 700;

}

.header .container {
    padding: 48px;
    font-size: 30px;
}

small {
    fontsize: 25px;
    color: #454545;
    font-weight: 400;
}

.main-content {
    background-color: #ECEFF1;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #454545;
}

h1 {
    font-weight: 400;
    font-size: 25px;
}

h3 {
    font-size: 45px;
    font-weight: 700;
}

.formu {
    width: 400px;
    margin: auto;
}

.information {
    background-color:#26a69a;
}

.information h3{
    text-align: center;
    margin:0px;
    padding-top: 30px;
    color:white;
    font-size:35px ;
}

.information h2{
    font-weight: 400;
    color:#454545;
    font-size: 1.5em;
}

.footer {
    background-color:#1D6157;
    padding: 0 20px;
    overflow: hidden;
}

.footer h4 {
    text-align:center;
    margin:0;
    padding:20px;
    color:white;

}


.footer-top h4{

    text-align:center;
    color:white;
    padding: 20px 20px 0px;
}

.form-button {
    color:white;
    border: solid 1px #1D6157;
    border-radius: 10px;
    background-color:#1D6157 ;
    margin-bottom: 35px;
    font-size : 22px;
}

/* Inputs */
.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #26a69a;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #26a69a;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #26a69a;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #26a69a;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #26a69a;
    }
    to {
        width: 0;
        background: transparent;
    }
}