* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ECEFF1;
}

.header {
    padding: 0px 30px 30px;
    background-color: #26a69a;
    color: white;
    font-weight: 700;

}

.header .container {
    padding: 48px;
    font-size: 30px;
}

small {
    fontsize: 25px;
    color: #454545;
    font-weight: 400;
}

.main-content {
    background-color: #ECEFF1;
    padding: 24px;
    height: 100%;

}

.modal-body {
    padding: 32px 15px 15px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #454545;
}

h1 {
    font-weight: 400;
    font-size: 50px;
}

h3 {
    font-size: 45px;
    font-weight: 700;
}

.impress {
    margin: 24px 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 2;
    text-align: center;
}

.row {
    margin: 0;
}

.formu {
    width: 400px;
    margin: auto;
}

.information {
    background-color: #26a69a;
}
.contrast {
    color: #ffffff;
}

.footer {
    background-color: #1D6157;
    padding: 0 20px;
    overflow: hidden;
}

.footer h4 {
    text-align: center;
    margin: 0;
    padding: 20px;
    color: white;

}

.default-padding {
    padding: 24px;
}

.footer-top h4 {

    text-align: center;
    color: white;
    padding: 20px 20px 0px;
}

.modal-header {
    background-color: #1D6157;
}

.close {
     color: #ffffff;
 }

.close:hover {
    color: #dddddd;
}

.modal-header h2 {
    color: #ffffff;
}

.btn  {
    color: #000000;
    border: 0;
    background-color: #e3e3e3;
    font-size: 22px;
    transition: all 300ms ease;
    margin: 0;
}

.btn:hover {
    background-color: #c6c6c6;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #1D6157;
    border: 0;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    outline: none;
}

.btn-primary {
    color: #ffffff;
    background-color: #1D6157;
}

.btn-primary:hover {
    background-color: #17483d;
}

.title {
    font-weight: bold;
    font-size: 72px;
}

.title i {
    font-size: 80px;
    -ms-transform: translate(-2px,0px); /* IE 9 */
    -webkit-transform: translate(-2px,0px); /* Safari */
    transform: translate(-2px,0px);
}

/* Inputs */
input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #26a69a;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #26a69a;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #26a69a;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #26a69a;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #26a69a;
    }
    to {
        width: 0;
        background: transparent;
    }
}